
*,
*::before,
*::after {
    box-sizing: inherit;
    user-select: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    // background-color: #000;    
    margin: 0;
    padding: 0;
  // height: 100vh;
    // font-family: $font-text;
  // text-transform: uppercase;
}

.container {
    display: flex;
    max-width: 95%;
    // height: 100vh;
    // padding: 3rem calc((100vw - 1300px) / 2);
}