.div_principal{
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(98, 221, 255, 0.879);
    width: 100%;
    height: 50%;
    .info{
        &>#formulario{
            position: relative;
        }
    }
    #informacion{
        width: 60%;
        display: flex;
        justify-content: center;
        // align-items: center;
        // text-align: center;
        margin: 0 auto;
    }
}

.div_input{
    .input, textarea{
        margin: 10px 0;
        background: transparent;
        border: 0px;
        border-bottom: 2px solid #c5ecfd;
        padding: 10px;
        color: #c5ecfd;
        width: 100%;
        &::placeholder{
            color: #c5ecfd; 
        }
    }
}

#formulario{
    background: rgba(0,0,0,0.8);
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 40%;
    form{
        display: flex;
        flex-direction: column;
        padding: 4rem;
        .div_input{
            display: flex;
            // justify-content: space-between;
            .input_fields{
                margin-right: 4rem;
                width: 48%;
            }
            .msg{
                display: inherit;
                width: 48%;
                flex-direction: column;
            }
        }
    }
}
