.div_principal{
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(98, 221, 255, 0.879);
    // width: 100%;
    height: 50%;
    .info{
        &>#formulario{
            position: relative;
        }
        .div_info{
            div{
                margin: 5rem 0;
                h3{
                    font-size: 3rem;
                }
                p{
                    font-size: 2rem;
                }
            }
        }
    }
    #informacion{
        width: 60%;
        display: flex;
        justify-content: center;
        // align-items: center;
        // text-align: center;
        margin: 0 auto;
    }
}


// Media querie
$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
    .div_principal{
        display: inline;
        flex-direction: column;

        #informacion, #formulario_es{
        width: 100%;
    }
    .div_info{
        div{
            margin: 0 5rem;
        }
    }
    #formulario{
        height: 50rem;
    }
}




}
.div_input{
    .input, textarea{
        margin: 10px 0;
        background: transparent;
        border: 0px;
        border-bottom: 2px solid #c5ecfd;
        padding: 10px;
        color: #c5ecfd;
        width: 100%;
        &::placeholder{
            color: #c5ecfd; 
        }
    }
}

#formulario_es{
    background: rgba(0,0,0,0.9);
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 40%;
    height: 70rem;
    margin-right: 5rem;
    display: flex;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        padding: 0 4rem;
        // margin: 0 auto;
        // text-align: center;
        .title_form{
            color: #c5ecfd;
            text-align: center;
            font-size: 3.5rem;
        }
        .div_input{
            display: flex;
            // justify-content: space-between;
            .input_fields{
                margin-right: 4rem;
                width: 48%;
                input{
                    font-size: 2rem;
                }
            }
            .msg{
                display: inherit;
                width: 48%;
                flex-direction: column;
                textarea{
                    font-size: 2rem;
                    height: 242px;
                }
                .btn_submit{
                    background: #39b7dd;
                    text-align: center;
                    padding: 15px;
                    border: none;
                    border-radius: 5px;
                    color: #fff;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 2rem;
                    // transition: all .5s;
                    // &:hover{
                    //     background: #186177;
                    // }
                }
            }
        }
    }
}
